---
import Sidebar from "../components/Sidebar.html";
import Step1 from "../components/Step1.astro";
import Step2 from "../components/Step2.astro";
import Step3 from "../components/Step3.astro";
import Step4 from "../components/Step4.astro";
import Step5 from "../components/Step5.astro";
import Navigation from "../components/Navigation.html";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Frontend Mentor | Multi-step form">
	<Sidebar />
	<Step1 />
	<Step2 />
	<Step3 />
	<Step4 />
	<Step5 />

	<Navigation />

	<div class="attribution">
		Challenge by <a
			href="https://www.frontendmentor.io?ref=challenge"
			target="_blank">Frontend Mentor</a
		>. Coded by <a href="https://www.xsrpm.dev" target="_blank">XsrPm</a>.
	</div>
</Layout>

<style>
	.attribution {
		position: absolute;
		bottom: 0;
		width: 100%;
		font-size: 11px;
		text-align: center;
	}
	.attribution a {
		color: hsl(228, 45%, 44%);
	}
</style>
