---

---


<aside class="bg-sidebar-mobile bg-no-repeat bg-cover xl:bg-sidebar-mobile h-[172px] pt-8">
    <ul class="flex justify-center gap-4">
      <li class="text-center"><button class="border-2 rounded-full text-black border-light-blue bg-light-blue w-8 h-8 text-sm font-bold leading-none">1</button><div class="hidden"><p>Step 1</p><p>Your info</p></div></li>
      <li class="text-center"><button class="border-2 rounded-full text-alabaster border-alabaster w-8 h-8 text-sm font-bold leading-none">2</button><div class="hidden"><p>Step 2</p><p>Select plan</p></div></li>
      <li class="text-center"><button class="border-2 rounded-full text-alabaster border-alabaster w-8 h-8 text-sm font-bold leading-none">3</button><div class="hidden"><p>Step 3</p><p>Add-ons</p></div></li>
      <li class="text-center"><button class="border-2 rounded-full text-alabaster border-alabaster w-8 h-8 text-sm font-bold leading-none">4</button><div class="hidden"><p>Step 4</p><p>Summary</p></div></li>
    </ul>
  </aside>