---

---

<aside
  class="bg-sidebar-mobile bg-no-repeat bg-cover h-[172px] xl:h-full pt-8 xl:pt-10 relative xl:bg-sidebar-desktop xl:w-full xl:rounded-xl xl:row-span-2 xl:bg-bottom"
>
  <ul class="flex justify-center gap-4 xl:flex-col xl:pl-8 xl:gap-8">
    <li class="text-center xl:flex xl:gap-4">
      <button
        class="border-2 rounded-full w-8 h-8 xl:w-9 xl:h-9 text-sm font-bold leading-none"
        :class="step === 1? 'text-black border-light-blue bg-light-blue' : 'text-alabaster border-alabaster' "
        >1</button
      ><div class="hidden xl:flex xl:flex-col"><p class="uppercase text-xs text-light-gray text-left">Step 1</p><p class="uppercase text-sm text-magnolia font-extrabold">Your info</p></div>
    </li>
    <li class="text-center xl:flex xl:gap-4">
      <button
        class="border-2 rounded-full w-8 h-8 xl:w-9 xl:h-9 text-sm font-bold leading-none"
        :class="step === 2? 'text-black border-light-blue bg-light-blue' : 'text-alabaster border-alabaster' "
        >2</button
      ><div class="hidden xl:flex xl:flex-col"><p class="uppercase text-xs text-light-gray text-left">Step 2</p><p class="uppercase text-sm text-magnolia font-extrabold">Select plan</p></div>
    </li>
    <li class="text-center xl:flex xl:gap-4">
      <button
        class="border-2 rounded-full w-8 h-8 xl:w-9 xl:h-9 text-sm font-bold leading-none"
        :class="step === 3? 'text-black border-light-blue bg-light-blue' : 'text-alabaster border-alabaster' "
        >3</button
      ><div class="hidden  xl:flex xl:flex-col"><p class="uppercase text-xs text-light-gray text-left">Step 3</p><p class="uppercase text-sm text-magnolia font-extrabold">Add-ons</p></div>
    </li>
    <li class="text-center xl:flex xl:gap-4">
      <button
        class="border-2 rounded-full w-8 h-8 xl:w-9 xl:h-9 text-sm font-bold leading-none"
        :class="step === 4 || step === 5? 'text-black border-light-blue bg-light-blue' : 'text-alabaster border-alabaster' "
        >4</button
      ><div class="hidden xl:flex xl:flex-col"><p class="uppercase text-xs text-light-gray text-left">Step 4</p><p class="uppercase text-sm text-magnolia font-extrabold">Summary</p></div>
    </li>
  </ul>
</aside>
