---

---

<section
  id="step2"
  x-show="step === 2"
>
  <div class="bg-white py-7 px-6 mx-5 rounded-md shadow-lg relative -top-20 min-h-[300px] max-h-[420px] overflow-y-auto">
    <h1 class="text-2xl font-bold text-marine-blue">Select your plan</h1>
    <p class="text-cool-gray mt-3 mb-5 font-semibold">
      You have the option of monthly or yearly billing.
    </p>

    <ul x-on:change="(event) =>plan = event.target.value" class="flex flex-col gap-3">
      <li>
      <label for="arcade-plan" class="flex border-2 rounded-md p-3 gap-4 cursor-pointer relative focus-within:border-pastel-blue  focus-within:bg-magnolia " >
      <input type="radio" name="plan" id="arcade-plan" value="arcade" class="absolute right-0" >
        <picture>
          <img src="./assets/images/icon-arcade.svg" alt="Arcade Icon" />
        </picture>

        <div>
          <p class="font-bold text-marine-blue">Arcade</p>
          <p class="text-cool-gray font-semibold text-sm">$9/mo</p>
          <p class="text-marine-blue font-medium text-xs">2 months free</p>
        </div>
      </label>
      </li>
      <li >
        <label for="advance-plan" class="flex border-2 rounded-md p-3 gap-4 cursor-pointer relative focus-within:border-pastel-blue  focus-within:bg-magnolia">
        <input type="radio" name="plan" id="advance-plan" value="advanced" class="absolute right-0">
        <picture>
          <img src="./assets/images/icon-advanced.svg" alt="Advanced Icon" />
        </picture>
        <div>
          <p class="font-bold text-marine-blue">Advanced</p>
          <p class="text-cool-gray font-semibold text-sm">$12/mo</p>
          <p class="text-marine-blue font-medium text-xs">2 months free</p>
        </div>
      </label>
      </li>
      <li>
        <label  for="pro-plan" class="flex border-2 rounded-md p-3 gap-4 cursor-pointer relative focus-within:border-pastel-blue  focus-within:bg-magnolia">
        <input type="radio" name="plan" id="pro-plan" value="pro" class="absolute right-0">
        <picture>
          <img src="./assets/images/icon-pro.svg" alt="Pro Icon" />
        </picture>
        <div>
          <p class="font-bold text-marine-blue">Pro</p>
          <p class="text-cool-gray font-semibold text-sm">$15/mo</p>
          <p class="text-marine-blue font-medium text-xs">2 months free</p>
        </div>
      </label>
      </li>
    </ul>
    <div class="p-4 mt-6 rounded-md bg-alabaster flex gap-6 justify-center">
      <p class="font-semibold text-marine-blue">Monthly</p>
      <label class="switch" x-on:change="(event) => pediod = event.target.value">
        <input type="checkbox" title="check slider" name="pediod"/>
        <span class="slider round"></span>
      </label>
      <p class="font-semibold text-cool-gray">Yearly</p>
    </div>
  </div>
</section>

<style>
  .attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }
  @font-face {
    font-family: "Ubuntu";
    src: URL("./assets/fonts/Ubuntu-Bold.ttf") format("truetype");
    src: URL("./assets/fonts/Ubuntu-Medium.ttf") format("truetype");
    src: URL("./assets/fonts/Ubuntu-Regular.ttf") format("truetype");
  }
  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 25px;
  }

  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #02295a;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  input:checked + .slider {
    background-color: #02295a;
  }

  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }

  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }
</style>
