---


---

<section id="step5" x-show="step === 5"  >
  <div class=" bg-white py-20 lg:pt-40 lg:pb-0 px-6 lg:px-24 mx-5 lg:mx-0 rounded-md shadow-lg lg:shadow-none relative -top-[10.50vh] lg:top-0 text-center overflow-y-auto">
    <picture class="flex justify-center"><img src="./assets/images/icon-thank-you.svg" width="45" height="45" class="lg:w-20 lg:h-20"/></picture>
  
    <p class="text-marine-blue font-bold text-xl lg:text-2xl pt-4">Thank you!</p>
  
    <p class="text-cool-gray text-sm lg:text-lg px-4 pt-2">Thanks for confirming your subscription! We hope you have fun 
      using our platform. If you ever need support, please feel free 
      to email us at support@loremgaming.com.</p>
    </div>
  </section>