---


---

<section id="step5" x-show="step === 5"  class=" bg-white py-20 px-6 mx-5 rounded-md shadow-lg relative -top-20 text-center ">
    <picture class="flex justify-center"><img src="./assets/images/icon-thank-you.svg" width="45" height="45"/></picture>
  
    <p class="text-marine-blue font-bold text-xl pt-4">Thank you!</p>
  
    <p class="text-cool-gray text-sm px-4 pt-2">Thanks for confirming your subscription! We hope you have fun 
      using our platform. If you ever need support, please feel free 
      to email us at support@loremgaming.com.</p>
  </section>