---
import ListPlans from "./ListPlans.astro";
import TimeSlider from "./TimeSlider.astro";
---

<section id="step2" x-show="step === 2">
  <div
    class="bg-white py-7 lg:py-10 px-6 lg:px-24 mx-5 lg:mx-0 rounded-md shadow-lg lg:shadow-none relative -top-[10.50vh] lg:top-0 min-h-[300px]  overflow-y-auto"
  >
    <h1 class="text-2xl lg:text-3xl font-bold lg:font-black text-marine-blue">Select your plan</h1>
    <p class="text-cool-gray mt-3 mb-5 lg:mb-10 font-semibold">
      You have the option of monthly or yearly billing.
    </p>
    <ListPlans />
    <TimeSlider />
  </div>
</section>
