---
import ListPlans from "./ListPlans.astro";
import TimeSlider from "./TimeSlider.astro";
---

<section id="step2" x-show="step === 2">
  <div
    class="bg-white py-7 px-6 mx-5 rounded-md shadow-lg relative -top-20 min-h-[300px] max-h-[420px] overflow-y-auto"
  >
    <h1 class="text-2xl font-bold text-marine-blue">Select your plan</h1>
    <p class="text-cool-gray mt-3 mb-5 font-semibold">
      You have the option of monthly or yearly billing.
    </p>
    <ListPlans />
    <TimeSlider />
  </div>
</section>
