---

interface Props {
	title: string;
}

const { title } = Astro.props;

import {initialState} from '../scripts/initialState'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-magnolia lg:h-screen lg:w-screen lg:grid lg:grid-cols-1 lg:grid-rows-1 lg:justify-items-center lg:items-center" x-data={JSON.stringify(initialState)} >
		<slot />
	</body>
</html>
