---

interface Props {
	title: string;
}

const { title } = Astro.props;

import {initialState} from '../scripts/initialState'

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-magnolia relative h-screen grid grid-rows-[24.75%_64.75%_10.50%]" x-data={JSON.stringify(initialState)} >
		<slot />
	</body>
</html>
